<nav class="container-fluid navbar navbar-dark bg-darker justify-content-between">
  <a class="navbar-brand">
    Navbar
  </a>

  <form class="form-inline">
    <input class="form-control mr-sm-2 bg-dark text-white" type="search" placeholder="Search" aria-label="Search">
  </form>
</nav>
